.postpage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.postpage h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #222;
    text-align: center;
}

.postpage img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.postpage p {
    margin: 10px 0;
    font-size: 19px;
    color: #555;
}

.postpage strong {
    font-weight: bold;
    color: #111;
}


.postpage article a {
    color: #3498db;
    text-decoration: none;
}

.postpage article a:hover {
    text-decoration: underline;
}

