.Main {
    /* display: grid; 
    grid-template-columns: repeat(auto-fill, 365px);
    grid-template-columns: repeat(3, 1px);
    grid-template-rows: auto;   */

    display: flex;
    background-color: white;
    border-radius: 16px;
    margin: 20px;
    min-height: 70vh;
    height: auto;
    width: 1320px;
}