.postList {
    display: flex;
}

.selectedCategory {
    display: flex;
    justify-content: center;
    width: 250px;
    border-right: 1px solid ;
    padding: 20px;
}

.selectedCategory select{
    width: 200px;
    height: 40px;

}

.posts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}