.postList {
    display: flex;
    justify-content: space-around;
    /* display: grid; */
    /* grid-template-columns:  repeat(auto-fill, 365px); */
    /* grid-template-columns: repeat(3, 1px); */
    /* grid-template-rows: auto;  */
    background-color: white;
    border-radius: 16px;
    margin: 30px;
    height: 800px;
}