.main-div {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 300px;
    padding: 100px;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
    width: 243px;
    background-color: #05386b;
    border: 1px solid black;
    color: #edf5e1;
}
  
.center-h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.center-p {
    font-size: 16px;
    margin: 0; 
}
  
.center-img {
    width: 233px;
    height: 153px;
    margin: 10px 0;
}

.like {
    max-width: 30;
    max-height: 30;
}

.dislike {
    max-width: 30;
    max-height: 30;
}
.result {
    display: flex;
}